body{
    max-width: 980px;
    margin: auto;
}

html,body {
    width: 100%;
    height: 100%;
}

header {
    height: 70px;
    margin: 1px 1px 1px 1px;
    padding: 20px 1px 1px 1px;
}

#logo a {
    margin-top: -25px;
    margin-left: 25px;
    float: left;
    font-weight: bolder;
    text-decoration: none;
    font-size: 50px;
    color:#1b1d41;
    font-family: 'Bungee Shade', serif;
    text-shadow: 0 1px 0 white;
}

nav {
    overflow: hidden;
    float: right;
}

nav li {
    float: left;
    ; list-style: none;
}

nav li a {
    font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: #1b1d41;
	text-shadow: 0 1px 0 white;
}




